$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$padding: 20px;

body {
    font: 100% $font-stack;
    color: $primary-color;
    margin: $padding auto;
    padding: $padding;
}
h1 {
    font-size: 5em;;
    margin-bottom: 0.5em;
}
h1 {text-align: center;}
h2 {
    font-size: 3em;
}
nav {
    ul {
        list-style: none;
        margin:0 0 70px 0;
        padding: 0;
        display: flex;
        li{
            a {
                color: white;
                text-decoration: none;
                padding:0.5em 1em;
                display: block;
            }
            font-size:1.5em;
            color: white;
            background-color: black;
            border-radius: 10px;
            &:not(:last-child) {
                margin-right: $padding
            }
        }
    }
}
ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    list-style-type: none;
    justify-content: center;
    padding: 0;
    gap: $padding
}
.container {
    padding: $padding;
}