---
layout: base
title: E-114 Assignment 02
---

<h2>Asignmen-02 details</h2>
<ul>
  <li>
    <h3>
      <a href="/maine/">Maine Parks</a>
    </h3>
    <p>This data comes from the
      <code>src/_data/maine.json</code>
      JSON data file
    </p>
  </li>
  <li>
    <h3>
      <a href="/massachusetts/">Massachusetts Parks</a>
    </h3>
    <p>This data comes from the NPS API, via
      <code>src/_data/massachusetts.js</code>
      JSON data file
    </p>
  </li>
  <li>
    <p>To keep the code dry, I created
      <code>src/_includes/parks-list.liquid</code>
      that defines how a park list is rendered.
    </p>
  </li>
  <li>
    <h3>
      <a href="/all-parks/">All Parks</a>
    </h3>
    <p>This list is via 11ty's collections, and the indiviual pages are created with 11ty's pagination, based on data from NPS API, via
      <code>src/_data/parks.js</code>
    </p>
  </li>
</ul>