html {
    font: normal normal 18px/1 sans-serif;
    --page-width: 1280px;
}
header {
    color: goldenrod;
    text-align: center;
    max-width: var(--page-width);
    margin: 0 auto;
}
main {
    max-width: var(--page-width);
    margin: 0 auto;
}
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap:2rem;
    margin-bottom:3rem;
}
footer {
    background-color:rgb(229, 246, 202);
    border-top: 1px solid black;
    margin: 0 auto;
    padding:2rem;
}
.park-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.park-container li {
    --padding: 1rem;
    margin: 0;
    background-color:#efefef;
}
.park-container figure {
    width: 100%;
    margin: 0;
    /* aspect-ratio: 16/9 */
}
.park-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3
}
.park-container figcaption {
    font-size:0.55em;
    padding:0.5em 1em;
    color: gray;
}
.park-container h1 {
    font-size: 1.5rem;
    margin: 0.5em var(--padding) 0.5em;
}
.park-container p {
    margin: 0 var(--padding) var(--padding);
    font: normal normal 0.75rem/1.2 sans-serif;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.gallery li {
    --padding: 1rem;
    margin: 0;
    background-color:#efefef;
}
.gallery img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3
}